p {
  font-family: "poppins";
}

h1 {
  font-family: "manrope";
  font-weight: "800";
  font-size: 65px;
  text-align: center;
  color: rgb(38, 43, 58);
}

h2 {
  font-size: 55px;
  text-align: center;
  color: rgb(70, 53, 182);
}

.img {
  margin-bottom: 0px;
}

.top-content {
  margin-top: 50px;
}

.img-round {
  border-radius: 20px;
  box-shadow: 0 16px 24px -8px rgb(25 0 65 / 32%);
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.header-1 {
  margin-top: 80px;
  color: rgb(38, 43, 58);
}

.sub-header-1 {
  text-align: center;
  color: rgb(38, 43, 58);
  font-size: 20px;
  max-width: 550px;
  margin-left: auto;
  margin-right: auto;
}

.img-1-div {
  margin-top: 50px;
}

.content-wrapper-2-parent {
  position: relative;
  margin-top: -200px;
}

.content-wrapper-2 {
  position: relative;
  width: 100%;
}

.accent-2 {
  width: 100vw;
  position: relative;
  left: calc(-50vw + 50%);
  z-index: -1;
  display: flex;
}

.main-content-bg {
  background: #4635b6;
  width: 100vw;
  position: relative;
  left: calc(-50vw + 50%);
  min-height: 300px;
  padding-bottom: 100px;
}

.main-content {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.h1-white {
  padding-top: 30px;
  color: white;
  text-align: left;
  font-size: 50px;
}

.h2-sub-white {
  color: white;
  font-family: poppins;
  font-size: 22px;
  text-align: left;
  font-weight: 400;
}

@media screen and (min-width: 1400px) {
}
