.header {
  background: rgb(13, 216, 145);
  padding-right: 20px;
  padding-left: 20px;
}

.header-wrap {
  margin: 0 auto;
  max-width: 960;
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 200px;
}

.btn-main,
.btn-alt {
  border-radius: 100px;
  font-family: "manrope";
  padding: 5px 20px 10px 20px;
  border: none;
}

.btn-main[type="button"] {
  background-color: #262b3a;
  color: white;
  transition: 0.3s;
}

.btn-main:hover {
  background-color: rgb(68, 75, 96);
  color: white;
}

.btn-alt[type="button"] {
  border: none;
  background: none;
  color: rgb(38, 43, 58);
  margin-right: 20px;
  transition: 0.3s;
}

.btn-alt:hover {
  background: rgb(66, 230, 173);
}
