p {
  font-family: "poppins";
}

h1 {
  font-family: "manrope";
  font-weight: "800";
  font-size: 65px;
  text-align: center;
  color: rgb(38, 43, 58);
}

h2 {
  font-size: 55px;
  text-align: center;
  color: rgb(70, 53, 182);
}

.p-subtext {
  text-align: center;
  font-size: 24px;
  color: rgb(38, 43, 58);
}

.hero-banner {
  background: #0dd891;
  min-height: 300px;
  width: 100vw;
  position: relative;
  left: calc(-50vw + 50%);
}

.accent-1 {
  width: 100vw;
  position: relative;
  left: calc(-50vw + 50%);
  margin-top: -30px;
}

.hero-subtitle {
  margin-left: auto;
  margin-right: auto;
  max-width: 580px;
}
